---
import FormattedDate from "./FormattedDate.astro";
import TagBadge from "./TagBadge.astro";


interface Props {
 title: string
 url: string
 date: Date
 tags?: string[]
 heroImage?: string
}


const { title, url, date, tags = [], heroImage } = Astro.props;
---


<div class="relative rounded-lg overflow-hidden shadow-md"> {/* 添加轻微阴影 */}
 {heroImage && (
 <>
 <div
 class="absolute inset-0 bg-cover bg-center"
 style={`background-image: url(${heroImage});`}
 ></div>
 {/* 半透明白色遮罩 */}
 <div class="absolute inset-0 bg-white/60"></div>
 </>
 )}


 <article class="relative text-black dark:text-gray-800 p-6"> {/* 确保文字颜色在浅色背景下清晰 */}
 <h2 class="text-xl font-semibold">
 <a href={url} class="hover:underline">{title}</a>
 </h2>
 <div class="pt-2 text-sm text-gray-500 dark:text-gray-400">
 <FormattedDate date={date} />
 </div>
 {Astro.slots.default && (
 <p class="pt-2 text-gray-700 dark:text-gray-300 text-sm leading-relaxed">
 <slot></slot>
 </p>
 )}


 {tags.length > 0 && (
 <div class="mt-3 flex flex-wrap gap-2">
 {tags.map(tag => (
 <TagBadge tag={tag} />
 ))}
 </div>
 )}
 </article>
</div>