---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import Container from "../components/Container.astro";
import MarkdownBody from "../components/MarkdownBody.astro";
import TagBadge from "../components/TagBadge.astro";

import { getReadingTime } from "../utils/readingTime";

type Props = CollectionEntry<"blog">["data"] & { body?: string };

const { title, description, pubDate, updatedDate, heroImage, body } = Astro.props;
const readingTime = getReadingTime(body);
---

<BaseLayout>
	<BaseHead slot="head" title={title} description={description ?? ""} image={heroImage} />
	<Header />
	<Container defaultPadding={true}>
		<div class="mb-8">
			<article class="text-black dark:text-white">
				<h1 class="text-3xl font-bold leading-normal">{title}</h1>
				<div class="flex items-center gap-6 mt-3 mb-8 text-gray-500 text-base">
					<div class="flex items-center gap-1">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="w-5 h-5"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
							<line x1="16" y1="2" x2="16" y2="6"></line>
							<line x1="8" y1="2" x2="8" y2="6"></line>
							<line x1="3" y1="10" x2="21" y2="10"></line>
						</svg>
						<FormattedDate date={pubDate} />
					</div>

					<div class="flex items-center gap-1">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="w-5 h-5"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<circle cx="12" cy="12" r="10"></circle>
							<polyline points="12 6 12 12 16 14"></polyline>
						</svg>
						<span>{readingTime}</span>
					</div>
				</div>
				<div class="mt-4">
					{
						updatedDate && (
							<span class="opacity-60">
								(Last updated on <FormattedDate date={pubDate} />)
							</span>
						)
					}

					{
						Astro.props.tags && (
							<div class="mt-4 mb-4 flex flex-wrap gap-2 items-center">
								<span class="text-gray-600 dark:text-gray-400">标签：</span>
								{Astro.props.tags.map(tag => (
									<TagBadge tag={tag} variant="detail" />
								))}
							</div>
						)
					}

					<MarkdownBody class="mt-6">
						<slot />
					</MarkdownBody>
				</div>
			</article>
			<slot name="comment" />
		</div>
		<Footer />
	</Container>
</BaseLayout>
